$maxWidth: 1400;
@mixin adaptiv-font($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $maxWidth:$maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
.main-howstudy{
    height: 1255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 87.5px 0 0 0;
    background-image: url(../../Image/Main/fon_how_study.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-howstudy__title{
    @include adaptiv-font(46,24);
    font-weight: 600;
    color: #22253B;
    padding: 55px 0px 26px 0px;
}
.main-howstudy__subtitle{
    width: 35%;
    text-align: center;
    @include adaptiv-font(16,12);
    font-weight: 400;
    line-height: 125%;
    color: #22253B;
}
.main-howstudy__media{
    position: relative;
    width: 762px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 30px 0px;
}

.howstudy-mediastyle {
    width: 584px;
    position: relative;
    padding: 25px 20px 45px 19px;
    background-color: rgb(255, 255, 255);
    border-radius: 17px;
    z-index: 2;
}
.howstudy-mediastyle__play{
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    color: #F15525;
    background: linear-gradient(to top, #ffffff00 30%,#ffffff 30%, #ffffff 70%, #ffffff00 80%);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 0px 21px rgba(241, 85, 37, 0.32);
    z-index: 5;
    transition: 1s;
    &:hover{
        box-shadow: 0px 0px 0px 11px rgba(241, 85, 37, 0.32);
    }
}


.howstudy-mediastyle__containerimg{
    border-radius: 17px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.821);
}
.howstudy-mediastyle__offvideo {
    content:"";
    width: 94%;
    height: 85%;
    left: 2.7%;
    top: 5.4%;
    position: absolute;
    display:inline-block;
    background: rgba(25, 26, 38, 0.76);
    border-radius: 17px;
}
.howstudy-mediastyle__img,
.howstudy-mediastyle__video{
    width: 94%;
    height: 85%;
    border-radius: 17px;
    z-index: 4;
}
.howstudy-mediastyle__video{
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.821);
}

.howstudy-mediastyle__img{
    height: 85%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    border-radius: 17px;
}

.howstudy-mediastyle__close {
    font-size: 20px;
    position: absolute;
    left: 93%;
    top: 10%;
    color: #f15525a2;
    background-color: white;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 5;
}
.howstudy-mediastyle__containerdown{
    display: flex;
    flex-direction: column;
}

.howstudy-mediastyle__back{
    content:"";
    width:762px;
    height: 208px;
    left: 0%;
    top: 25%;
    position: absolute;
    display:inline-block;
    background: rgba(25, 26, 38, 0.538);
    border-radius: 50%;
    z-index: 1;
    -webkit-filter: blur(87px);
    filter: blur(87px);
}
.howstudy-mediastyle__down{
    &::before{
        content:"";
        width:762px;
        height:6px;
        left: 0%;
        top: 98%;
        position: absolute;
        display:inline-block;
        border-radius: 30%;
        background: linear-gradient(to right, rgb(223, 223, 223) 3%, rgb(255, 255, 255) 7%, rgb(255, 255, 255) 95%,rgb(223, 223, 223) 97%,);
        z-index: 5;
    }
}

.howstudy-mediastyle__down2{
    content:"";
    width:762px;
    height:16px;
    position: absolute;
    display:inline-block;
    left: 0%;
    top: 97.9%;
    border-radius: 40%;
    background: linear-gradient(151.66deg, #F9F9F9 17.52%, rgba(232, 232, 232, 0) 124.27%), linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(234, 234, 234, 0.07) 100%, rgba(255, 255, 255, 0.07) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(234, 234, 234, 0.07) 100%, rgba(255, 255, 255, 0.07) 100%), #FFFFFF;;
    z-index: 4;
}


.howstudy-description{
    height: 349px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 81px 120px -77px rgba(34, 37, 59, 0.04);
    border-radius: 40px;
}

.howstudy-description__point{
    width: 18.91vw;
    border-right: 1px solid rgba(234, 242, 245, 1);
    &:first-child{
        padding: 0px 66px 0px 0px;
    }
    &:nth-last-child(-n+2){
        padding: 0px 60px 0px 58px;
        &:last-child{
            width: 20.11vw;
            padding: 0px 0px 0px 49px;
            border: none;
            .howstudy-description__pointtext{
                width: 95%;
            }
        }
    }
}

.howstudy-description__pointnumber{
    font-weight: 700;
    @include adaptiv-font(77,50);
    color: #38BFF2;
}

.howstudy-description__pointtitle{
    font-weight: 600;
    @include adaptiv-font(24,20);
    line-height: 125%;
    width: 90%;
    margin: 20px 0px 19px 0px;
}

.howstudy-description__pointtext{
    width: 88%;
    font-weight: 400;
    @include adaptiv-font(16,12);
    line-height: 143%;
}

.howstudy-containerbutton{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 538px;
    background-color: rgb(255, 255, 255);
    border-radius: 110px;
    margin: 38px 0px 0px 0px;
}

.howstudy-buttoncontainer__button{
    width: 249px;
    margin: 12px 0px 11px 0px;
    font-weight: 400;
    font-size: 16px;
}


.howstudy-buttoncontainer__text{
    width: 214px;
    color: #22253B;
    font-weight: 600;
    @include adaptiv-font(15,13);
    line-height: 120%;
}

@media (min-width: 1200px) and (max-width: 1400px){
    .howstudy-description__point{
        width: 21.14vw;
        &:first-child{
            padding: 0px 46px 0px 0px;
        }
        &:nth-last-child(-n+2){
            .howstudy-description__pointtitle{
                width: 90%;
            }
            padding: 0px 40px 0px 38px;
            &:last-child{
                width: 282px;
                padding: 0px 0px 0px 29px;
                border: none;
                .howstudy-description__pointtext{
                    width: 95%;
                }
            }
        }
    }
    .howstudy-description__pointtitle{
        width: 91%;
    }
    .howstudy-description__pointtext{
        width: 80%;
    }
}
@media  (max-width: 1200px){
    .main-howstudy__media{
        width: 571.5px;
    }
    .howstudy-mediastyle__play{
        font-size: 60px;
    }
    .howstudy-mediastyle {
        width: 438px;
    }
    .howstudy-mediastyle__img,
    .howstudy-mediastyle__video {
        width: 93%;
        height: 82%;
    }
    .howstudy-mediastyle__offvideo {
        content:"";
        width: 92.6%;
        height: 81.3%;
        left: 3.7%;
        top: 6.6%;
    }
    .howstudy-mediastyle__img{
        height: 275px;
    }
    .howstudy-mediastyle__close {
        font-size: 17px;
        left: 92%;
        top: 11%;
    }
    .howstudy-mediastyle__back{
        width:571.5px;
        height: 156px;
    }
    .howstudy-mediastyle__down{
        &::before{
            width:571.5px;
            height:4.5px;
        }
    }
    
    .howstudy-mediastyle__down2{
        content:"";
        width:571.5px;
        height:12px;
    }
    .howstudy-description{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .main-howstudy__title {
        padding: 0px 0px 26px 0px;
    }
    .howstudy-description__pointtext{
        width: 100%;
    }
}

@media (min-width: 960px) and (max-width: 1200px){
    .main-howstudy{
        height: 1170px;
    }
    .howstudy-description__point{
        width: 26vw;
        &:first-child{
            padding: 0
        }
        &:nth-last-child(-n+2){
            padding: 0;
            &:last-child{
                width: 24vw;
                padding: 0;
                .howstudy-description__pointtext{
                    width: 100%;
                }
            }
        }
    }
    .howstudy-description__pointtext{
        width: 80%;
    }
}


@media (min-width: 640px) and (max-width: 960px){
    .main-howstudy{
        height: 1270px;
    }
    .howstudy-description{
        width: 87%;
        height: 500px;
    }
    .main-howstudy__subtitle{
        width: 50%;
    }
    .howstudy-description__point{
        width: 34vw;
        &:first-child{
            padding: 0;
        }
        &:nth-last-child(-n+2){
            border: none;
            padding: 0;
            .howstudy-description__pointtitle{
                width: 23.8vw;
            }
            &:last-child{
                width: 32vw;
                padding: 0;
                .howstudy-description__pointtitle{
                    width: 100%;
                }
                .howstudy-description__pointtext{
                    width: 100%;
                }
            }
        }
    }
    .howstudy-description__pointtitle{
        width: 100%;
    }
    .howstudy-description__pointtext{
        width: 100%;
    }
    // .howstudy-containerbutton{
    //      width: 80%;
    // }
}

@media (max-width: 640px) {
    .main-howstudy__media{
        width: 571.5px;
    }
    .howstudy-mediastyle__play{
        font-size: 60px;
    }
    .howstudy-mediastyle {
        width: 438px;
    }
    .howstudy-mediastyle__img,
    .howstudy-mediastyle__video {
        width: 93%;
        height: 82%;
    }
    .howstudy-mediastyle__offvideo {
        content:"";
        width: 92.6%;
        height: 81.3%;
        left: 3.7%;
        top: 6.6%;
    }
    .howstudy-mediastyle__img{
        height: 275px;
    }
    .howstudy-mediastyle__close {
        font-size: 17px;
        left: 92%;
        top: 11%;
    }
    .howstudy-mediastyle__back{
        width:571.5px;
        height: 156px;
    }
    .howstudy-mediastyle__down{
        &::before{
            width:571.5px;
            height:4.5px;
        }
    }
    
    .howstudy-mediastyle__down2{
        content:"";
        width:571.5px;
        height:12px;
    }

}




@media (max-width: 320px){
    .main-howstudy__title{
        width: 93%;
        text-align: center;
    }
    .main-howstudy__subtitle{
        width: 93%;
    }
}


