@import './Header/Menu/Menu.scss';
@import './Header/About/About.scss';
@import './Header/Header.scss';
@import './Main/Main.scss';
@import './Main/Programma.scss';
@import './Main/Advantages.scss';
@import './Main/Howstudy.scss';
@import './Main/Helpandstudy.scss';
@import './Main/Price.scss';
@import './Footer/Footer.scss';
@import './Variables.scss';


