$maincolor:#22253B;
img {
    max-width: 100%;
}

.arrow{
    max-width: 19px;
  }

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
a{
  text-decoration: none;
  color: $maincolor;
}
.sizeblock{
    width: 82.858%;
    display: flex;
    border-radius: 48px;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 321px;
  background-color: #F15525;
  color: rgb(255, 255, 255);
  border-radius: 82px;
  cursor: pointer;
  z-index: 9;
}
@media (min-width: 640px) and (max-width: 960px){
    .sizeblock{
        width: 87vw;
      }
}
@media (max-width: 640px){
    .sizeblock{
        width: 93.75vw;
      }
}
@media (max-width: 412px) {
    .sizeblock{
      width: 94vw;
    }
  }

.header-menu__button-out {
  display: none;
}

.header-menu__name-user{
  &:hover{
    .header-menu__button-block{
      position: absolute;
      display: block;
      margin-top: 0px;
      background-color: rgba(168, 208, 211, 0.408);
      height: 40px;
      width: 80px;
      border-radius: 30px;
      cursor: pointer;
    }
    .header-menu__button-out {
      position: absolute;
      display: block;
      padding: 5px 10px;
      top: 7px;
      left: 10px;
      background-color: #F15525;
      color: white;
      border-radius: 30px;
    }
  }
}
