img {
    max-width: 100%;
}

.arrow{
    max-width: 19px;
  }

*{
    margin: 0;
    padding: 0;
}
.sizeblock{
    width: 83%;
    display: flex;
    border-radius: 48px;
}

@media (min-width: 640px) and (max-width: 960px){
    .sizeblock{
        width: 87%;
    }
}
@media (max-width: 640px){
    .sizeblock{
        width: 93.75%;
    }
}

