img {
    max-width: 100%;
}

.arrow{
    max-width: 19px;
  }

*{
    margin: 0;
    padding: 0;
}
.sizeblock{
    width: 83%;
    display: flex;
    border-radius: 48px;
    justify-content: center;
}

