.header-menu,
.header-menu__option,
.header-menu__group-button {
  display: flex;
}
.header-menu{
  position: fixed;
  margin: 10px 0px 0px 0px;
  width: 83%;
  height: 51px;
  align-items: center;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  border-radius: 75px;
  font-size: 13px;
  font-weight: 400;
  z-index: 100;
}
.header-menu__withburger{
  width: 87%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 53px;
  height: 20px;
}
.header-menu__option{
  width: 47.5%;
  justify-content: space-around;
}

.header-menu__group-button {
  width: 153px;
  height: 31px;
  justify-content: space-between;
  align-items: center;
}
.login-button{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  background-color: #38c0f2;
  color: rgb(255, 255, 255);
}

.header-menu__login{
  width: 77.9px;
  height: 30.73px;
}

.login-arrow{
  margin: 0px 4px 0px 0px;
}
.burgermenu-state{
  display: none;
}

.menu{
  display: none;
}
.header-menu__burget-btn{
  width: 17px;
  height: 12px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  &::before{
      content: '';
      position: absolute;
      top: 0;
      width: 17px;
      background: #F15525;
      border-radius: 21px;
      height: 2px;
    }
  span{
      position: absolute;
      top: 4px;
      width: 17px;
      background: #F15525;
      border-radius: 21px;
      height: 2px;
    }
    &::after{
      content: '';
      position: absolute;
      width: 17px;
      height: 2px;
      top: 8px;
      background: #F15525;
      border-radius: 21px;
    }
  }

@media (max-width: 640px) {
  .header-menu{
    height: 41px;
    justify-content: space-between;
  }
  .header-menu__withburger{
    width: 60%;
    flex-direction: row-reverse;
  }
  .header-menu__option{
    width: 20%;
  }
  .burgermenu-state{
    display: block;
    position: relative;
    cursor: pointer;
  }
  .header-menu__variant,
  .header-menu__regist{
    display: none;
  }

  .menu{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    transform: translateX(1000%);
    transition: all 0.2s;
    top: 0px;
  }
  .menu.active{
    transform: translateX(100%);
  }
  .menu-content{
    width: 300px;
    height: 576px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
    border-radius: 20px;
    margin: 14px 10px 0px 0px;
    margin-right: 10px;
    z-index: 100;
      .menu-content__point{
        color: rgba(34, 37, 59, 1);
        font-size: 20px;
        padding: 11px 0 11px 0;
        &:first-child{
          padding: 0 0 11px 0;
        }
        &:last-child{
          padding: 11px 0 0 0;
          }
      }
  }
  .menu-content__close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 25px 18px 0px 0px;
    color: rgba(188, 188, 188, 1);
      svg{
        width: 19px;
        height: 19px;
      }
  }
  .blur{
    width: 200vw;
    height: 1000vh;
    background-color: #181818c0;
    position: absolute;
    z-index: 0;
  }
  .menu-content__position{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  ul li a{
    color: white;
    text-decoration: none;
  }
  ul li {
    display: flex;
    align-items: center;
  }

  .menu-content__block{
    text-align: center;
  }
  .menu-content__burgerlogin{
    width: 132.86px;
    height: 49px;
    margin: 0 0 34px 0;
    font-size: 15px;
  }
}