$maxWidth: 1400;
@mixin adaptiv-font($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $maxWidth:$maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
.header-about {
    display: flex;
    align-items: flex-end;
    height: 535px;
}
.header-about__text{
    width: 50%;
    height: 420px;
}
.header-about__text-slogan{
    height: 44%;
    font-weight: 500;
    line-height: 100%;
    @include adaptiv-font(46,24);
    .header-about__text-y{
        color: #38BFF2;
    }
    .header-about__text-y2{
        color: #F15525;
    }
}
.header-about__text-test{
    display: flex;
    align-items: center;
    width: 56%;
    height: 74px;
    font-weight: 400;
    line-height: 143%;
    @include adaptiv-font(16,12);
    border-top: 1px solid rgba(222, 222, 222, 1);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #F15525;
    color: rgb(255, 255, 255);
    border-radius: 82px;
    cursor: pointer;
}
.header-about__text-button {
    width: 321px;
    @include adaptiv-font(20,18);
    font-weight: 400;
}

.arrow {
    margin: 0 0 0 2%;
    transform: rotate(-45deg);
}

@media (min-width: 960px) and (max-width: 1200px){
    .header-about__text{
        width: 500px;
        height: 320px;
    }
}
@media (max-width: 960px){
    .header-about {
        height: 355px;
    }
    .header-about__text{
        width: 500px;
        height: 260px;
    }
    .header-about__text-slogan{
        height: 40%;
        width: 54vw;
    }
    .header-about__text-button {
        width: 249px;
    }
}
@media (max-width: 640px) {
    .header-about {
        align-items: flex-start;
        height: 590px;
    }
    .header-about__text{
        width: 98%;
        height: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-about__text-slogan{
        width: 100%;
        height: 100px;
        border-bottom: 1px solid rgba(222, 222, 222, 1);
    }
    .header-about__text-name{
        display: inline-block;
        width: 100%;

    }
    .header-about__text-test{
        width: 80%;
        border: none;
    }
    .header-about__text-button{
        width: 299px;
    }
}
@media (max-width: 480px) {
    .header-about__text-slogan{
        height: 120px;
    }
}
